@model _14__ProjetoMVC.Models.Contato

@{
   ViewData["Title"] = "Detalhes do Contato";
}

<h1>Detalhes</h1>

<div>
   <dl class="row">
      <dt class="col-sm-2">
         @Html.DisplayNameFor(x => x.Nome)
      </dt>
      <dt class="col-sm-10">
         @Html.DisplayFor(x => x.Nome)
      </dt>
      <dt class="col-sm-2">
         @Html.DisplayNameFor(x => x.Numero)
      </dt>
      <dt class="col-sm-10">
         @Html.DisplayFor(x => x.Numero)
      </dt>
      <dt class="col-sm-2">
         @Html.DisplayNameFor(x => x.Status)
      </dt>
      <dt class="col-sm-10">
         @Html.DisplayFor(x => x.Status)
      </dt>
   </dl>
</div>
<a asp-action="Editar" asp-route-id="@Model.Id">Editar</a>
<a asp-action="Index">Voltar</a>